<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mario & Luigi's Pizzeria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Roboto+Condensed:wght@600&display=swap" rel="stylesheet">
    <link href="img/favicon.ico" rel="icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body class="vh-100">
    <section>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="font-family: 'Times New Roman', Times, serif;">
                <div class="container">
                  <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    <img src="{{ url_for('static', filename='drawing.svg') }}" alt="logo" width="80px" height="74px">
                  </a>
                  <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button> 
    
                  <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    
                    <div class="offcanvas-header text-white border-bottom">
                      
                      <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
    
                    <div class="offcanvas-body flex-lg-row p-4 p-lg-0">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link" href="{{ url_for('main.index') }}">Menu</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="#">Overview</a>
                          </li>
                      </ul>
    
                    <!-- login signup -->
                      <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                        <a href="{{ url_for('auth.login') }}" class="text-white">Login</a>
                        <a href="{{ url_for('auth.signup') }}" class="text-white text-decoration-none px-3 py-1 rounded-4">Sign Up</a>
                        <header>
                        <div class="shopping">
                          <img src="{{ url_for('static', filename='bag.svg') }}" class="img-fluid-1"  width="30px">
                          <span class="quantity">{{ total_pizza_quantity() }}</span>
                        </header>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            <div class="container" style="padding-top: 120px;">
               {% block content %}
               {% endblock %}
            </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-white fw-normal mb-4">Company</h4>
                        <a class="btn btn-link" href="#">About Us</a>
                        <a class="btn btn-link" href="#">Contact Us</a>
                        <a class="btn btn-link" href="#">Privacy Policy</a>
                        <a class="btn btn-link" href="#">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-white fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Marconilaan 61, Eindhoven</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+31629906406</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-white fw-normal mb-4">Opening</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09:00 - 21:00</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>10:00 - 20:00</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
</body>

</html>
