{% extends "base.html" %}
{% block content %}
<body>
<main>
    <h1>Ask your question:</h1>
    <div>
    <script src="https://utteranc.es/client.js"
    repo="mbjd05/reviews-pizza"
    issue-term="url"
    theme="github-light"
    crossorigin="anonymous"
    async>
</script>
    <h1>Frequently Asked Questions</h1>

    <div class="box-container">
    <div class="text-box">
        <h2 class="question">How do I place an order?</h2>
        <p class="answer">You can place an order by calling our pizzeria at +31 6 29906406 or by visiting our website and using our online ordering system.</p>
    </div>

    <div class="text-box">
        <h2 class="question">What are your operating hours?</h2>
        <p class="answer">We are open from 09:00 to 21:00 from monday to saturday and sunday we are open from 10:00 to 20:00 of the week.</p>
    </div>

    <div class="text-box">
        <h2 class="question">Do you offer delivery?</h2>
        <p class="answer">Yes, we offer delivery services within a 5-mile radius. Delivery charges may apply.</p>
    </div>
    </div>
    <div class="box-container">
    <div class="text-box">
        <h2 class="question">What payment methods do you accept?</h2>
        <p class="answer">We accept cash, credit cards, ideal, and mobile payment methods like Apple Pay and Google Pay.</p>
    </div>

    <div class="text-box">
        <h2 class="question">Can I customize my pizza toppings?</h2>
        <p class="answer">Absolutely! You can customize your pizza with a variety of toppings when placing your order.</p>
    </div>

    <div class="text-box">
        <h2 class="question">Do you have gluten-free or vegan options?</h2>
        <p class="answer">Yes, we offer gluten-free crust and vegan cheese options for our pizzas.</p>
    </div>
</main>


</body>

{% endblock %}