{% extends "base.html" %}

{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    {% endwith %}
    <h3>Login</h3>
    <form method="POST" action="/login">
        <div>
            <div>
                <input type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
        </div>

        <div>
            <div>
                <input type="password" name="password" placeholder="Your Password">
            </div>
        </div>
        <div>
            <label>
                <input type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <button>Login</button>
    </form>
</div>
{% endblock %}